<% admin_breadcrumb(Spree.t(:settings) ) %>
<% admin_breadcrumb(Spree.t('admin.tab.elastic_product_settings')) %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
      <%= button_link_to 'Ping service', spree.ping_service_admin_elastic_product_settings_path, {remote: true} %>
    </li>
    <li>
      <%= button_to 'Start full reindex', spree.admin_elastic_product_reindex_path %></td>
    </li>
  </ul>
<% end %>

<% content_for :tabs do %>
  <nav>
    <ul class="tabs">
      <%= settings_tab_item "Elastic Search Settings", spree.admin_elastic_product_settings_path %>
    </ul>
  </nav>
<% end %>


<%= form_for :settings, url: spree.admin_elastic_product_settings_path, method: :put do |f| %>
  <div class="field checkbox">
    <label>
      <%= f.check_box :incremental_update_enabled, {:checked => Solidus::ElasticProduct::Config.incremental_update_enabled}, '1', '0' %>
      <%= Spree.t('admin.incremental_update_enabled') %>
    </label>
  </div>

  <p class="form-buttons"><%= button Spree.t(:update) %></p>
<% end %>

